.card-title {
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    color: #585858;
    height: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card {
    margin-bottom: 50px;
}
