.container {
    margin-bottom: 80px;
}

.card-box {
    background: #FAFAFA;
    min-height: 300px;
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    margin-top: 100px;
    width: 540px;
    height: 400px;
    font-size: 20px;
}

.card-box-details {
    width: 200px;
    margin-top: 100px;
}

.card-box-details ul li {
    font-size: 18px;
    list-style-type: none;
}

.row {
    box-shadow: black;
}


li h5 {
    font-size: 15px;
    color: #2196F3 !important;
}


.btn {
    position: absolute;
    bottom: 0;
    right: 40%;
    margin-bottom: 12px;
}