<div class="container">
    <div class="row shadow">
        <div class="col-md-5 offset-md-1">
            <div class="card-box text-center">

                <!-- share card - here! -->
                <app-card [car]="car"></app-card>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-box-details">
                <ul>
                    <li class="text-secondary">Tag number
                        <h5 class="text-primary">{{car.tagNumber}}</h5>
                    </li>
                    <li class="text-secondary">Car Year
                        <h5 class="text-primary">{{car.carYear}}</h5>
                    </li>
                    <li class="text-secondary">Monthly price:
                        <h5 class="text-primary">{{car.monthly | currency:'MKD'}}</h5>
                    </li>
                    <li class="text-secondary">Monthly price:
                        <h5 class="text-primary">{{car.daily | currency:'MKD'}}</h5>
                    </li>
                    <li class="text-secondary">Seats
                        <h5 class="text-primary">{{car.seats}}</h5>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-box-details">
                <ul>
                    <li class="text-secondary">Bag
                        <h5 class="text-primary">{{car.bag}}</h5>
                    </li>
                    <li class="text-secondary">Dors
                        <h5 class="text-primary">{{car.dors}}</h5>
                    </li>
                    <li class="text-secondary">Transmission
                        <h5 class="text-primary">{{car.transmission}}</h5>
                    </li>
                </ul>
            </div>
        </div>  
    </div>

    <div class="form-group">
        <button class="btn btn-lg btn-primary"
                type="submit"> Book now
        </button>
    </div>

</div>



    
