<div class="container">

    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <header class="card-header">
              <a href="" class="float-right btn btn-outline-primary mt-1">Log in</a>
              <h4 class="card-title mt-2">Sign up</h4>
          </header>
          <article class="card-body">

            <form [formGroup]="registrationForm" (submit)="onSubmit()">
                <div class="form-row">
                    <div class="col form-group">
                        <label>First name </label>   
                          <input formControlName="firstName" type="text" class="form-control"
                            [class.is-invalid]="firstName.invalid && firstName.touched" >
                          <small class="text-danger"
                            [class.d-none]="firstName.valid || firstName.untouched">Username is required
                          </small>
                    </div>

                    <div class="col form-group">
                        <label>Last name</label>
                          <input formControlName="lastName" type="text" class="form-control"
                            [class.is-invalid]="lastName.invalid && lastName.touched" >
                          <small class="text-danger"
                            [class.d-none]="lastName.valid || lastName.untouched">Lastname is required
                          </small>
                    </div>
                </div>

                <div class="form-group">
                    <label>Email address</label>
                    <input formControlName="email" type="email" class="form-control"
                    [class.is-invalid]="email.invalid && email.touched" >
                    <small class="text-danger"
                      [class.d-none]="email.valid || email.untouched">Email is required
                    </small>

                    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>

                <div class="form-group">
                    <label class="form-check form-check-inline">
                      <input formControlName="gender" class="form-check-input" type="radio" name="gender" value="male">
                      <span class="form-check-label"> Male </span>
                    </label>
                    <label class="form-check form-check-inline">
                      <input formControlName="gender" class="form-check-input" type="radio" name="gender" value="female">
                      <span class="form-check-label"> Female</span>
                    </label>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>City</label>
                      <input formControlName="city" type="text" class="form-control"
                        [class.is-invalid]="city.invalid && city.touched">
                      <small class="text-danger"
                        [class.d-none]="city.valid || city.untouched" >City is required
                      </small>
                    </div>

                    <div class="form-group col-md-6">
                      <label>Country</label>
                      <select formControlName="contry" class="form-control">
                        <option *ngFor="let contry of countries">{{ contry }}</option>
                      </select>
                    </div>
                </div>

                <div class="form-group">
                  <label>Phone</label>
                  <input formControlName="phone" class="form-control" type="tel" placeholder="07xxxxxxx"
                    [class.is-invalid]="phone.invalid && phone.touched">
                  <div *ngIf="phone.invalid && phone.touched">
                    <small class="text-danger" *ngIf="registrationForm.get('phone').errors.required">Phone is required</small>
                    <small class="text-danger" *ngIf="registrationForm.get('phone').errors.pattern">Please enter valid phone number</small>
                  </div>
                </div>

                <div class="form-group">
                    <label>Create password</label>
                    <input formControlName="password" class="form-control" type="password" 
                      [class.is-invalid]="password.invalid && password.touched">
                    <div *ngIf="password.invalid && password.touched">
                      <small class="text-danger" *ngIf="registrationForm.get('password').errors.required">Password is required</small>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"
                      [disabled]="registrationForm.invalid"> Register  </button>
                </div>
                <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>                                          
            </form>
            </article>

      <div class="border-top card-body text-center">Have an account? <a href="">Log In</a></div>
        
    
        </div>
      </div>
    </div>
</div>