<div class="container">
    <div class="row">
        <div class="col-md-9 col-xs-12 ml-auto">
            <div class="aboutus-content mr-auto">
                <h1>About Us rental<span>Cars</span></h1>
                <p>RentalCars is a car rental company established in 2001 in Bitola, Lorem ipsum dolor sit. Repudiandae odio doloribus labore commodi pariatur facilis quae exercitationem consequuntur voluptatibus iure esse aut, explicabo ab magni provident delectus vitae officiis vel</p>
                <p>Lorem ipsum dolor sit amet elit. Minus odit illo ratione tempore, modi sed libero facere praesentium excepturi iusto. Perspiciatis praesentium velit quae</p>
                <ul>
                    <li>you can book “commission free”</li>
                    <li>you can reach us 24/7 on our mobile numbers</li>
                    <li>you can call us free from the “Free call” service on our website</li>
                    <li>main Office Contact {{phone}}</li>
                </ul>

                <ul class="list-inline">
                    <li class="list-inline-item">
                        <h2 class="list-header">{{vehicles}}</h2>
                        <p>Vehicles</p>
                    </li>
                    <li class="list-inline-item">
                        <h2 class="list-header">IATA</h2>
                        <p>Certificate</p>
                    </li>
                    <li class="list-inline-item">
                        <h2 class="list-header">24/7</h2>
                        <p>Call Us</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>