<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let car of cars">
            <div class="card-box" [routerLink]="['/cars',car.id]">
                
                <!-- share card - here! -->
                <app-card [car]="car"></app-card>
                <div class="card-link">
                    <a [routerLink]="['/cars',car.id]">Learn More
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
