@import url('https://fonts.googleapis.com/css?family=Oswald|Poppins');
body {
    font-family: 'Poppins', sans-serif;
}

.container {
    margin-top: 50px;
}

.card-img-top {
    width: 200px;
    height: 113px;
    display: block;
    margin: auto;
}

.card-box {
    background: #FAFAFA;
    min-height: 300px;
    position: relative;
    padding: 30px 30px 20px;
    margin-bottom: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.card-box:hover {
    background: linear-gradient(to right, #1fa2ff17 0%, #12d8fa2b 51%, #1fa2ff36 100%);
}

.card-box:after {
    display: block;
    background: #2196F3;
    border-top: 2px solid #2196F3;
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.card-title h2 {
    margin: 0;
    padding-top: 5%;
    color: #2196F3;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 30px;
}

.card-title p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
}

.card-link a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: #FF5722;
    font-size: 15px;
}

.card-link a:hover {
    text-decoration: underline;
    color: blue;
    font-size: 15.3px;
}


