nav {
    border-top: 1px solid rgb(204, 192, 192) !important;
    border-bottom: 1px solid rgb(204, 192, 192)  !important;
}


li a {
    font-size: 15px;
    padding-bottom: 2.5px;
    border-bottom: 1px solid rgb(204, 192, 192)  !important;
}

.navbar { 
    font-family:Verdana !important;
}
